

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">apresentacao-etapa1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="page-container">
    <img alt="moda imagem" src="assets/modaaa.etapa1.png" />
    <ion-card-header class="text-vertical-center">
      <ion-card-title>Guarda-Roupa Virtual</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      sugestôes de looks com base no que você já tem no guarda-roupa
    </ion-card-content>
  </ion-card>


</ion-content>
